<div fxFlexFill>
  <div class="fullscreen-overlay" *ngIf="this.loading" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <h2>Loading library...</h2>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!this.loading && this.detectedGames.length === 0">
    <h2>Your game library is empty!</h2>
  </div>

  <div class="content" fxLayout="row" fxFlexFill="100" *ngIf="!this.loading && this.detectedGames.length > 0">
    <div fxFlex="10" fxHide fxShow.gt-md><!--SPACER--></div>
    <div fxFlex="0 1 20"><!--FILTER--></div>
    <div fxFlex fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let game of detectedGames">
        <game-cover [game]="game"></game-cover>
      </div>
    </div>
    <div fxFlex="0 1 10" fxHide fxShow.gt-lg><!--SPACER--></div>
  </div>
</div>
