@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/app/themes/dark-theme';

.fullscreen-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.library-management-hint {

  @include mat.elevation(16);

  position: absolute;
  right: 56px;
  top: 72px;
  width: 250px;
  border-radius: 6px;

  p {
    padding: 0 12px 12px 16px;
  }
}

.content {
  padding: 16px;
}

.filter-category-title {
  margin-bottom: 0;
}

.mat-card-48 {
  height: 48px;
}

::ng-deep .mat-checkbox-frame {
  $config: mat.get-color-config($dark-theme);
  $primary-palette: map.get($config, 'primary');
  border-color: mat.get-color-from-palette($primary-palette, 500) !important;
}

::ng-deep .mat-form-field-underline {
  $config: mat.get-color-config($dark-theme);
  $primary-palette: map.get($config, 'primary');
  background-color: mat.get-color-from-palette($primary-palette, 500) !important;
}

.sticky {
  position: sticky;
  align-self: flex-start;
  top: 80px; //64px height of app-header + 16px padding of content
}
