<div fxFlexFill>
  <div class="fullscreen-overlay" *ngIf="this.loading" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
    <h2>Loading library...</h2>
  </div>

  <div *ngIf="!this.loading && this.detectedGames.length === 0" fxFlex fxLayout="column" fxLayoutAlign="center center" style="height: calc(100vh - 64px)">
    <div class="library-management-hint" fxLayout="column" fxLayoutAlign="start end">
      <mat-icon fontSet="material-icons-outlined">north_east</mat-icon>
      <p>Use the library management to scan your file system for games</p>
    </div>

    <div fxLayout="column" fxLayoutAlign="center center">
      <mat-icon fontSet="material-icons-outlined" color="primary" style="font-size: 128px; height: 128px; width: 128px;">videogame_asset_off</mat-icon>
      <h1>Your game library is empty!</h1>
    </div>
  </div>

  <div class="content" fxLayout="row" fxFlexFill="100" *ngIf="!this.loading && this.detectedGames.length > 0">
    <div fxFlex="10" fxHide fxShow.gt-md><!--SPACER--></div>
    <div fxFlex="0 1 20"><!--FILTER--></div>
    <div fxFlex fxLayout="row wrap" fxLayoutGap="16px grid">
      <div *ngFor="let game of detectedGames">
        <game-cover [game]="game"></game-cover>
      </div>
    </div>
    <div fxFlex="0 1 10" fxHide fxShow.gt-lg><!--SPACER--></div>
  </div>
</div>
