<mat-toolbar style="position: sticky; top: 0; z-index: 99999">
  <button mat-icon-button (click)="goToLibraryScreen()" *ngIf="notOnLibraryScreen()">
    <mat-icon>home</mat-icon>
  </button>

  <span class="spacer"></span>

  <button mat-icon-button (click)="reloadLibrary()" *ngIf="onLibraryManagementScreen()">
    <mat-icon>youtube_searched_for</mat-icon>
  </button>

  <button mat-icon-button (click)="goToLibraryManagementScreen()" *ngIf="!onLibraryManagementScreen()">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
