@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .gradient-primary {
        @apply bg-gradient-to-br from-primary-400 to-primary-700;
    }

    .button-secondary {
        @apply bg-primary-300 text-background/80;
    }
}

/* Custom CSS */

:root {
    /* Overwrite default Hilla styles (e.g. loading indicator) */
    --lumo-primary-color: theme(colors.primary);

    /* Overwrite SwiperJS styles */
    --swiper-navigation-color: theme(colors.primary);
    --swiper-pagination-color: theme(colors.primary);

    .swiper-pagination-bullet {
        background-color: theme(colors.primary);
    }
}

/* List box drag & drop */
.react-aria-ListBoxItem {
    &[data-dragging] {
        opacity: 0.6;
    }
}

.react-aria-DropIndicator[data-drop-target] {
    outline: 1px solid theme(colors.primary);
}