node_modules
HELP.md
.gradle
.secrets
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin

### Custom ###
/generated
/db
/data
/packaged_plugins
/logs
/templates
/docker/docker-compose.yml
/app/src/main/bundles/
/app/src/main/frontend/**/*.js
/app/src/main/frontend/**/*.js.map
/app/src/main/frontend/generated/
**/torrent_dotfiles/
*.state.json
/plugins/data/
/plugins/state/
/plugindata/
