@use 'sass:map';
@use '@angular/material' as mat;
@import 'src/app/theme/default-theme';
@import 'src/app/components/library-overview/library-overview.component';

mat-tab-group {
  $config: mat.get-color-config($custom-theme);
  $background: map.get($config, background);
  background: mat.get-color-from-palette($background, app-bar);
}
