// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'sass:map';
@use '@angular/material' as mat;

// Plus imports for other components in your app.
@import "src/app/theme/default-theme";
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($custom-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  overflow-y: scroll;
}

.snackbar-dark {
  color: white;
  $config: mat.get-color-config($custom-theme);
  $background: map.get($config, background);
  background: mat.get-color-from-palette($background, app-bar);

  // add support for formatting (newlines)
  white-space: pre-wrap;
}
